form { 
    margin-top: 30px;
    margin-left: 50px;

}

.form_line, button {
    display: block;    
}

.form_element  {
    display: inline-block;
    width: 200px;
    height: 30px;
    
}

label {
    text-align: right;
}

button {
    width: 150px;
    height: 30px;
    margin-left: 230px;
    margin-top: 20px;
    background-color:lightblue;
}

.message {
    font-size: larger;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: crimson;
    margin-top: 10px;
    margin-left: 253px;
    width: 320px;
    height: 30px;
}

#result     {
    margin-left: 110px;
}

/* input   {
    text-transform: uppercase
} */

